<div class="bg-light p-5">
<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p>Date: <%= @event.date.strftime '%d-%m-%Y' %></p>
<p>Created by: <%= @event.creator.name %></p>
</div>
<h3 class="mt-4 mb-4">Attendees:</h3>

<% @event.atendees.each do |u| %>
  <ul class="list-group">
    <li class="list-group-item"><%= u.name %></li>
  </ul>

<% end %>

<p class="mt-4"><%= link_to_attend(@event.id) %></p>